@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 font-weight-bold">Bem-vindo ao Gerenciador de Tarefas</h1>
    <p class="lead mt-4">Este projeto foi desenvolvido por Jonathan Sanchez como parte dos estudos de ASP.NET. O objetivo é criar um Gerenciador de Tarefas com funcionalidade de login de usuário. A aplicação permite que os usuários registrem suas contas, façam login e gerenciem suas tarefas pessoais.</p>
    <hr class="my-4">
    <p class="mt-4">Explore e organize suas tarefas de forma fácil e eficiente.</p>
</div>

