@model ProjetoWEB.Models.Tarefas

@{
    ViewData["Title"] = "Criar nova Tarefa";
}

<h2>Adicionar Nova Tarefa</h2>

<form method="post" asp-action="CriarNovaTarefa">
    <div class="form-group">
        <label class="control-label">Detalhes</label>
        <input type="text" class="form-control" id="detalhesTarefa" name="detalhesTarefa" required />
    </div>

    <div class="form-group">
        <label class="control-label">Data</label>
        <input type="date" id="dataTarefa" name="dataTarefa" class="form-control" required/>
       
    </div>

    <div class="form-group">
        <label class="control-label">Prioridade</label>
        <select id="prioridadeTarefa" name="prioridadeTarefa" class="form-control" asp-items="Html.GetEnumSelectList<PrioridadeTarefa>()">
            <option value="">Selecione a prioridade</option>
        </select>
    </div>

    <input type="hidden" asp-for="ID_Usuario" value="@Model.ID_Usuario" />
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
<a asp-action="Index" asp-route-id="@Model.ID_Usuario">Voltar</a>